extends layout

block prepend body
  body(style='overflow:hidden').post

block postSection
  - var getPostData = function() {
  -     var post = contents.posts[page.parent.filename.split(path.sep)[1]]['data.json'].metadata;
  -     delete post.template;
  -     return post;
  - }
  - var post = getPostData();
  - moment.lang('ru');

  section.content
    header
      h1.title= post.title
      time= moment(post.date, 'DD/MM/YYYY').format('D MMMM YYYY')
    - if (post.shortText)
      section.short-text!= post.shortText
    - if (post.fullText)
      section.full-text!= post.fullText
    .page-footer
      - if (post.topics)
        .topics
          h4 Темы:
          ul
            each topic, i in post.topics
              li
                a(href='#!/blog/topic/' + topic)= topic
                - if (i < post.topics.length - 1)
                  | ,
      .social
        h4 Поделиться:
        a(href="#").icon-twitter-sign
        a(href="#").icon-google-plus-sign
        a(href="#").icon-facebook-sign

    .comments#hypercomments_widget

    script
      _hcwp = window._hcwp || [];
      _hcwp.push({ widget: 'Stream', widget_id: 6177, xid: '#{post.uuid}', language: 'ru', title: '#{post.title}' });